anyascii==0.3.2
asgiref==3.7.2
beautifulsoup4==4.11.2
certifi==2023.7.22
charset-normalizer==3.2.0
crispy-bootstrap5==0.7
defusedxml==0.7.1
Django==4.2.4
django-cogwheels==0.3
django-contrib-comments==2.2.0
django-crispy-forms==2.0
django-filter==23.2
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filetype==1.2.0
html5lib==1.1
idna==3.4
l18n==2021.3
openpyxl==3.1.2
Pillow==10.0.0
pillow-heif==0.12.0
psycopg2-binary==2.9.7
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
telepath==0.3.1
urllib3==2.0.4
wagtail==5.1
wagtail-metadata==4.0.3
wagtail-modeladmin==1.0.0
wagtailmenus==3.1.8
webencodings==0.5.1
Willow==1.6
